@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&display=swap");

:root {
  --white: #fff;
  --light-green: #72bd9e;
  --mid-grey: #9d9d9d;
  --bg: #272727;
  --mid-yellow: #f0ca42;
  --salmon: #f59c80;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--white);
  font-family: "Inter";
  font-weight: 400;
  height: 100vh;
  min-width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 1.25rem;
}

.header .logo {
  cursor: default;
}

.header .logo-rock {
  color: var(--light-green);
}

.header .logo-seperator {
  color: var(--mid-grey);
}

.header .logo-paper {
  color: var(--white);
}

.header .logo-scissors {
  color: var(--mid-yellow);
}

.info-icon {
  cursor: pointer;
  color: var(--mid-grey);
  font-size: 2rem;
}

.info-icon:hover {
  color: var(--white);
  transition: 0.15s ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-1 {
  margin-top: 10rem;
}

.play-again-btn {
  background: var(--salmon);
  font-size: 18px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 1rem 1.8rem;
  margin-top: 1.5rem;
  visibility: hidden;
}

.play-again-btn .hidden {
  display: none;
}

.play-again-btn:active {
  transform: scale(0.98);
}

.score-container {
  display: flex;
}

.buttons {
  gap: 6rem;
}

.buttons,
.btn {
  display: flex;
  cursor: pointer;
  font-size: 120px;
  background: 0;
  border: 0;
}

.btn-rock:active {
  transform: scale(1.05);
}

.btn-paper {
  transform: rotate(240deg);
}

.btn-paper:active {
  transform: rotate(240deg) scale(1.05);
}

.btn-scissors {
  transform: rotate(-30deg);
}

.btn-scissors:active {
  transform: rotate(-30deg) scale(1.05);
}

.btn:hover {
  opacity: 0.8;
}
